.specex-card{
    padding:1rem;
    margin: 0 15px 15px 0;
}

.specex-card-img{
    background-color: #F2F2F2;
}

.specex-card-img__number {
    color: #63659f;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1rem;
    max-width: 255px;
}

.specex-card-label{
    color: #181818;
    font-size: 14px;
    font-weight: 500;
}

.specex-card-value{
    color: #63659f;
    font-weight: 400;
}