
.App {
  background-color: #F2F2F2;
}

.App-loader-container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-filter-card {
  flex-basis: 289px;
  margin: 0 15px 15px 0;
}

.App-filter-result {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% - 304px);
}

.App-filter-header {
  color: #111111;
}

.App-filter-heading-launch-year {
  text-align: center !important;
  margin-top: -1rem;
}

.App-filters-hr {
  margin: 0.4rem;
}

.App-filter-button-container{
  width:100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
}

.App-filter-button {
  flex: 0 40%;
  margin: 10px;
}